@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
.info-personal, .tecnologias, .contact-form {
  background-image: url("/docs/hoja-holo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.perfil, .experiencia {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(30%, #765075), to(#b691b0));
  background-image: linear-gradient(to left, #765075 30%, #b691b0);
  -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
          clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.hobbies, .redes {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #765075), to(#b691b0));
  background-image: linear-gradient(to right, #765075 30%, #b691b0);
  -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
          clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Rambla", sans-serif;
  font-size: 2.2rem;
  margin: 7px;
  line-height: 15px;
  text-shadow: 2px 2px 1px #081749;
  color: #ffffff;
}

h2 {
  font-family: "Laila", sans-serif;
  color: #765075;
  margin-top: 22px;
  font-weight: lighter;
  line-height: 30px;
  font-size: 1.7rem;
  text-shadow: #ffffff -1px 2px 1px;
}

h3 {
  font-family: "Laila", sans-serif;
  color: #081749;
  margin: 2px;
  line-height: 15px;
  padding-bottom: 12px;
  font-size: 1.5rem;
}

p {
  color: #ffffff;
  font-family: "Yusei Magic", sans-serif;
  line-height: 20px;
  letter-spacing: 0.02rem;
  margin: 0;
  font-size: 0.9rem;
}

.grid-container {
  max-width: 330px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 210px 120px;
      grid-template-columns: 210px 120px;
  -ms-grid-rows: 35px 200px 175px 190px 8.5% 9% 310px 24% 100px 50px;
      grid-template-rows: 35px 200px 175px 190px 8.5% 9% 310px 24% 100px 50px;
      grid-template-areas: "nav nav" "header header" "perfil perfil" "info-p info-p" "hobbies hobbies" "tecno tecno" "expe expe" "contacto contacto" "redes redes" "footer footer";
}

.nav-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  background-color: #ffe0d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  border-bottom: medium double #5e6997c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.encabezado {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("/docs/hoja-holo.jpg");
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: right;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.encabezado .photo {
  width: 92px;
  height: 108px;
  border-radius: 10px;
  border: solid 2px #ffe0d1;
  margin: 18px 20px 0 0;
}

.perfil {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: perfil;
  padding: 20px 30px 20px 20px;
}

.perfil a {
  text-decoration: none;
  color: #081749;
}

.info-personal {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info-p;
  padding: 20px 25px;
}

.info-personal p {
  margin: -7px;
  background-clip: content-box;
  background-color: #765075a2;
}

.hobbies {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hobbies;
  padding: 20px;
}

.tecnologias {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tecno;
  background-image: url("/docs/hoja-holo.jpg");
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tecnologias > div {
  background-color: #765075a2;
  width: 58px;
  height: 60px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tecnologias .fa-html5:hover, .tecnologias .fa-sass:hover, .tecnologias .fa-bootstrap:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tecnologias .fa-css3:hover, .tecnologias .fa-git:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.tecnologias h3 {
  padding-right: 120px;
}

.experiencia {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: expe;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.experiencia ul.project li {
  width: 220px;
  height: 220px;
  opacity: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  left: 55px;
  top: 60px;
  background-color: #ffe0d1;
  border-radius: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiencia ul.project li:first-child {
  opacity: 1;
}

.experiencia ul.project li:target {
  opacity: 1;
}

.experiencia nav {
  width: 220px;
  height: 20px;
  position: absolute;
  padding: 0;
  top: 43vh;
  left: 55px;
}

.experiencia nav ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.experiencia nav a {
  text-decoration: none;
  font-family: "Laila", sans-serif;
  color: #081749;
  line-height: 10px;
  background-clip: inherit;
  background-color: #ffe0d1;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
}

.contact-form {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  padding: 20px;
}

.redes {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: redes;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.redes .fab:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.redes h3 {
  padding: 0 80px 5px 80px;
  text-align: center;
}

footer {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #ffe0d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .menu-h {
  width: 19px;
  height: 14px;
  margin: 0;
  position: relative;
}

.grid-container .menu-h #desplegable {
  position: absolute;
  left: -9999px;
}

.grid-container .menu-h label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.grid-container .menu-h .linea-menu {
  width: 18px;
  height: 2px;
  color: #fdf6f6;
  background-color: #ffffff;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(46deg);
          transform: translateY(6px) rotate(46deg);
  color: #b691b0;
  background-color: #765075;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(2) {
  opacity: 0;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-46deg);
          transform: translateY(-6px) rotate(-46deg);
  color: #b691b0;
  background-color: #765075;
}

#links-menu {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 26px;
  left: -15px;
  margin: 0px;
  padding: 17px;
  background-image: linear-gradient(45deg, #b691b0 0%, #765075 100%);
  display: none;
  list-style-type: none;
  z-index: 5;
}

#links-menu li a {
  display: block;
  font-size: 1.2rem;
  font-family: "Laila", sans-serif;
  text-decoration: none;
  text-align: left;
  padding: 6px;
  color: #ffffff;
  text-shadow: #081749 0px 2px 1px;
}

#links-menu li a:hover {
  background-color: #ffe0d1;
  font-weight: bold;
  text-shadow: #ffffff 0px 2px 1px;
  color: #081749;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#desplegable:checked + #links-menu {
  display: block;
}
/*# sourceMappingURL=estilo.css.map */