@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
.info-personal, .tecnologias, .contact-form {
  background-image: url("hoja-holo-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.perfil, .experiencia {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(30%, #765075), to(#b691b0));
  background-image: linear-gradient(to left, #765075 30%, #b691b0);
  -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
          clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.hobbies, .redes {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #765075), to(#b691b0));
  background-image: linear-gradient(to right, #765075 30%, #b691b0);
  -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
          clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Rambla", sans-serif;
  font-size: 2.2rem;
  margin: 7px;
  line-height: 15px;
  text-shadow: 2px 2px 1px #081749;
  color: #ffffff;
}

h2 {
  font-family: "Laila", sans-serif;
  color: #765075;
  margin-top: 22px;
  font-weight: lighter;
  line-height: 30px;
  font-size: 1.7rem;
  text-shadow: #ffffff -1px 2px 1px;
}

h3 {
  font-family: "Laila", sans-serif;
  color: #081749;
  margin: 2px;
  letter-spacing: 2px;
  line-height: 15px;
  text-shadow: #ffffff -1px 1px 1px;
  padding-bottom: 12px;
  font-size: 1.6rem;
}

p {
  color: #ffffff;
  font-family: "Yusei Magic", sans-serif;
  line-height: 20px;
  letter-spacing: 0.02rem;
  margin: 0;
  font-size: 1rem;
}

.grid-container {
  max-width: 330px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 210px 120px;
      grid-template-columns: 210px 120px;
  -ms-grid-rows: 40px 200px 175px 195px 8.5% 9% 310px 23% 100px 58px;
      grid-template-rows: 40px 200px 175px 195px 8.5% 9% 310px 23% 100px 58px;
      grid-template-areas: "nav nav" "header header" "perfil perfil" "info-p info-p" "hobbies hobbies" "tecno tecno" "expe expe" "contacto contacto" "redes redes" "footer footer";
}

.nav-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  background-color: #ffe0d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  border-bottom: medium double #5e6997c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.encabezado {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url("hoja-holo.jpg");
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: right;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

.encabezado .photo {
  width: 92px;
  height: 108px;
  border-radius: 10px;
  border: solid 2px #ffe0d1;
  margin: 18px 20px 0 0;
}

.perfil {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: perfil;
  padding: 20px 30px 20px 20px;
}

.perfil a {
  text-decoration: none;
  color: #081749;
}

.info-personal {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info-p;
  padding: 20px 28px;
}

.info-personal p {
  margin: -7px;
  background-clip: content-box;
  background-color: #765075a2;
}

.hobbies {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hobbies;
  padding: 20px 5px 20px 20px;
}

.tecnologias {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tecno;
  background-image: url("hoja-holo.jpg");
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tecnologias > div {
  background-color: #765075a2;
  width: 58px;
  height: 60px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tecnologias .fa-html5, .tecnologias .fa-sass, .tecnologias .fa-bootstrap {
  -webkit-animation-name: scale1;
          animation-name: scale1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.tecnologias .fa-css3, .tecnologias .fa-git {
  -webkit-animation-name: scale2;
          animation-name: scale2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.tecnologias h3 {
  padding-right: 80px;
}

.experiencia {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: expe;
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}

.experiencia ul.project li {
  width: 220px;
  height: 220px;
  opacity: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  position: absolute;
  left: 55px;
  top: 60px;
  background-color: #ffe0d1;
  border-radius: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiencia ul.project li:first-child {
  opacity: 1;
}

.experiencia ul.project li:target {
  opacity: 1;
}

.experiencia nav {
  width: 220px;
  height: 20px;
  position: absolute;
  padding: 0;
  top: 245px;
  left: 55px;
}

.experiencia nav ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.experiencia nav a {
  text-decoration: none;
  font-family: "Laila", sans-serif;
  color: #081749;
  line-height: 10px;
  background-clip: inherit;
  background-color: #ffe0d1;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
}

.contact-form {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  padding: 20px;
}

.contact-form .formulario form {
  max-width: 255px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #765075a2;
  font-family: "Yusei Magic", sans-serif;
  color: #ffffff;
  padding: 5px;
  margin: auto;
}

.contact-form input, .contact-form label {
  font-family: "Yusei Magic", sans-serif;
  margin: 4px 15px;
  padding: 5px;
}

.contact-form input[type="text"], .contact-form [type="email"], .contact-form [type="tel"] {
  width: 215px;
  height: 24px;
  background: #ffffffc2;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
  font-size: 14px;
}

.contact-form input[type="text"]:focus, .contact-form input[type="text"]:active, .contact-form [type="email"]:focus, .contact-form [type="email"]:active, .contact-form [type="tel"]:focus, .contact-form [type="tel"]:active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1px 1.5px #ffe0d1;
          box-shadow: 0 0 1px 1.5px #ffe0d1;
}

.contact-form #comentario {
  width: 215px;
  background: #ffffffc2;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
  font-size: 14px;
  margin: 4px 15px;
}

.contact-form #comentario:focus, .contact-form #comentario:active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 1px 1.5px #ffe0d1;
          box-shadow: 0 0 1px 1.5px #ffe0d1;
}

.contact-form input[type="submit"] {
  width: 100px;
  height: 26px;
  padding: 0px 8px 3px 8px;
  border-radius: 10px;
  margin: 2px 65px;
  border: none;
  outline: none;
  font-family: "Yusei Magic", sans-serif;
  background-color: #742071;
  color: #ffffff;
}

.contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:active {
  background-color: #ffe0d1;
  color: #765075;
  -webkit-box-shadow: 0 0 1px 1.5px #ffe0d1;
          box-shadow: 0 0 1px 1.5px #ffe0d1;
  -webkit-animation-name: shake;
          animation-name: shake;
}

.redes {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: redes;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.redes .fab:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.redes h3 {
  padding: 0 75px 5px 70px;
}

footer {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #ffe0d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .menu-h {
  width: 26px;
  height: 20px;
  margin: 0;
  position: relative;
}

.grid-container .menu-h #desplegable {
  position: absolute;
  left: -9999px;
}

.grid-container .menu-h label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  cursor: pointer;
}

.grid-container .menu-h .linea-menu {
  width: 24px;
  height: 2px;
  color: #fdf6f6;
  background-color: #ffffff;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(47deg);
          transform: translateY(6px) rotate(47deg);
  color: #b691b0;
  background-color: #765075;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(2) {
  opacity: 0;
}

.menu-h #desplegable:checked ~ label .linea-menu:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-47deg);
          transform: translateY(-6px) rotate(-47deg);
  color: #b691b0;
  background-color: #765075;
}

#links-menu {
  width: 180px;
  height: 200px;
  position: absolute;
  top: -169px;
  left: -195px;
  margin: 0px;
  padding: 17px;
  background-image: linear-gradient(45deg, #b691b0 0%, #765075 100%);
  display: none;
  list-style-type: none;
  z-index: 5;
}

#links-menu li a {
  display: block;
  font-size: 1.2rem;
  font-family: "Laila", sans-serif;
  text-decoration: none;
  text-align: left;
  padding: 6px;
  color: #ffffff;
  text-shadow: #081749 0px 2px 1px;
}

#links-menu li a:hover {
  background-color: #ffe0d1;
  font-weight: bold;
  text-shadow: #ffffff 0px 2px 1px;
  color: #081749;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#desplegable:checked + #links-menu {
  display: block;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

/*Inicio de Animaciones*/
@-webkit-keyframes slide {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}
@keyframes slide {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}

@-webkit-keyframes scale1 {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale 0.7;
            transform: scale 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale1 {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  50% {
    -webkit-transform: scale 0.7;
            transform: scale 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale 0.7;
            transform: scale 0.7;
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

@keyframes scale2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale 0.7;
            transform: scale 0.7;
  }
  100% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
/*# sourceMappingURL=estilo.css.map */